#include "resource.h"
#include <windows.h>

IDI_LUMASHOT ICON "assets\\LumaShot.ico"
IDI_LUMASHOT_TRAY ICON "assets\\LumaShotTray.ico"
IDR_TOOLBAR_ICONS RCDATA "assets\\toolbar-icons.png"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "LumaShot Project"
            VALUE "FileDescription", "HDR-aware Windows screenshot tool"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "LumaShot"
            VALUE "OriginalFilename", "LumaShot.exe"
            VALUE "ProductName", "LumaShot"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE "LumaShot"
END
